<ul>
  <% @peeps.reverse.each do |peep| %>
    <p><span class="red">@<%= peep.user%>:</span><br><%= peep.message%></p>
    <hr>
  <% end %>
</ul>
<br><br>
<% if current_user %>
<div id="new-peep">
  <form action="/peeps" method="post">
    Your message: <input type="text" name="message" maxlength="50" required><br><br>
    <input id="awesomebutton" type="submit" value="Send peep!">
  </form>
</div>
<% end %>
